@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Open+Sans:wght@400;600&display=swap');

.wrapper {
	display: flex;
	overflow: hidden;
	height: 100vh;
}

.sidebar {
	display: block;
	width: 400px;
	background: #383838;
	overflow: scroll;
}

.container {
	display: flex;
	flex-direction: column;
	flex: 1;
	background: #f2f2f2;
}

.header {
	position: relative;
	height: 88px;
	background: #fff;
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.05);
}

.content {
	position: relative;
	flex: 1;
	overflow: auto;
	padding-left: 44px;
	padding-top: 20px;
}

.add-movie-button {
	position: absolute;
	right: 51px;
	top: 0;
	width: 158px;
	height: 40px;
	margin-top: 26px;
	background: #4ee7b0;
	border-radius: 7px;
}

.add-movie-button a {
	display: flex;
	flex: 1;
	font-family: 'Open Sans', sans-serif;
	font-style: normal;
	font-weight: bold;
	font-size: 12px;
	line-height: 40px;
	text-transform: uppercase;
	text-decoration: none;
	justify-content: center;
	color: #fff;
}

.menu {
	display: flex;
	flex-direction: column;
	flex: 1;
	margin: 0 30px;
}

.logo {
	margin: 72px 104px 58px 81px;
	display: block;
}

.logo a {
	font-family: 'Bebas Neue', sans-serif;
	font-style: normal;
	font-weight: normal;
	font-size: 96px;
	line-height: 22px;
	align-items: center;
	text-align: center;
	text-transform: uppercase;
	text-decoration: none;
	color: #43b0ed;
}

.logo a:hover {
	color: tomato;
}

.menu-item {
	display: block;
	border-bottom: 1px solid rgba(242, 242, 242, 0.1);
}

.menu-item a {
	overflow: auto;
	display: flex;
	padding: 0 16.8px 1.71px 14.83px;
	height: 68.29px;
	text-decoration: none;
	font-family: 'Open Sans', sans-serif;
	font-style: normal;
	font-weight: 600;
	font-size: 18px;
	line-height: 22px;
	align-items: center;
	text-transform: uppercase;
	color: #b7b7b7;
}

.menu-item:last-child {
	border: none;
}

.menu-item a:hover,
.menu-item--active a {
	color: #fff;
	background: rgba(255, 255, 255, 0.05);
}

.movie-list--item {

	display: inline-block;
	position: relative;
	margin: 20px 20px 20px 20px;
	width: 370px;
	height: 700px;
	background: #fff;
	box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.1);
	border-radius: 20px;
	font-family: 'Open Sans', sans-serif;
}

.movie-list--item-overlay {
	display: flex;
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	z-index: 9;
	background: rgba(0, 0, 0, 0.7);
	box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.1);
	border-radius: 20px;
	align-items: center;
	justify-content: center;
	opacity: 0;
}

.movie-list--item:hover .movie-list--item-overlay {
	opacity: 1;
}

.movie-list--item-more {
	display: inline-flex;
	background: #4ee7b0;
	border-radius: 7px;
	width: 220px;
	height: 56px;
	justify-content: center;


	font-family: 'Open Sans', sans-serif;
	font-style: normal;
	font-weight: bold;
	font-size: 18px;
	line-height: 56px;
	/* identical to box height, or 311% */
	text-align: center;
	text-transform: uppercase;
	text-decoration: none;
	color: #fff;


}

.movie-list--item-image {
	display: block;
	width: 370px;
	height: 430px;
	background-size: cover;
	border-radius: 20px 20px 0 0;
}

.movie-list--item-head {
	display: block;
	margin: 0 20px 0 20px;
	padding: 12px 0 15px 0;
}

.movie-list--item-title {

	font-style: normal;
	font-weight: 600;
	font-size: 22px;
	line-height: 30px;
	color: #333;


}

.movie-list--item-subtitle {
	margin-bottom: 15px;
	font-style: normal;
	font-weight: 600;
	font-size: 14px;
	line-height: 25px;
	color: #999;
}

.movie-list--item-wrapper {
	display: block;
	height: 1px;
	background: #f2f2f2;
}

.movie-list--item-description {
	min-height: 100px;
	margin: 0 20px 23px 0;
	font-style: normal;
	font-weight: 400;
	font-size: 14px;
	line-height: 20px;
	color: #333;
}

.movie-list--item-bottom {
	display: flex;
	flex: 1;
	margin-left: 0;
	white-space: nowrap;
	justify-content: space-between;
}

.movie-list--item-time {
	position: relative;
	font-weight: normal;
	font-size: 12px;
	line-height: 22px;
	padding-left: 25px;
	color: #ccc;
}

.movie-list--item-info {
	font-weight: 600;
	font-size: 10px;
	line-height: 22px;
	text-align: right;
	text-transform: uppercase;
	color: #ccc;


}

.movie-list--item-genres {

}

.movie-list--item-time-icon {
	left: 0;
	position: absolute;
	width: 20px;
	height: 20px;
	background: url("../../images/icon-clock.jpg");

}

.info {
	margin: 200px;
	font-family: 'Bebas Neue', sans-serif;
	font-style: normal;
	font-weight: normal;
	font-size: 96px;
	line-height: 22px;
	align-items: center;
	text-align: center;
	text-transform: uppercase;
	text-decoration: none;
	color: #43b0ed;
}

.movie-info {
	display: block;
	position: absolute;
	left: 46px;
	top: 40px;
	width: 1170px;
	height: 985px;
	background: #fff;
}
.movie-info-title {
	display: block;
	width: 720px;
	height: 64px;
	margin-left: 45px;
	margin-top: 35px;
	font-family: Open Sans;
	font-style: normal;
	font-weight: bold;
	font-size: 48px;
	line-height: 65px;

	color: #333333;
}
.movie-info-original-title {
	width: 299px;
	height: 42px;
	margin-left: 48px;
	margin-top: 8px;

	font-family: Open Sans;
	font-style: normal;
	font-weight: 600;
	font-size: 24px;
	line-height: 33px;

	color: #999999;
}
.movie-title-wrapper {
	/* Rectangle 4 */
	width: 1112px;
	height: 1px;
	margin-left: 48px;
	margin-top: 17px;
	background: #CCCCCC;
}
.movie-image {
	position: relative;
	width: 469px;
	height: 730px;
	top: 11px;
	bottom: 13px;
	left: 12px;
	right: 12px;

	background: tomato;
}
.movie-image-wrapper {
	position: absolute;
	width: 493px;
	height: 754px;
	margin-left: 31px;
	margin-top: 21px;

	background: #F2F2F2;
}

.movie-rating {
	width: 336px;
	height: 55px;
	background: tomato;
	margin-left: 575px;
	margin-top: 36px;
}
.movie-about-movie {
	width: 164px;
	height: 37px;
	margin-left: 557px;
	margin-top: 105px;
	font-family: Open Sans;
	font-style: normal;
	font-weight: bold;
	font-size: 24px;
	line-height: 33px;

	color: #333;
}
.movie-year-released {
	width: 256px;
	height: 22px;
	margin-top: 22px;
	font-family: Open Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	line-height: 22px;
	/* identical to box height */
	color: #666666;
}

.movie-year-released-data {
	white-space: nowrap;
	justify-content: space-between;
	position: relative;
	right:0;
}
.movie-director{
	width: 256px;
	height: 22px;
	margin-top: 22px;
	font-family: Open Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	line-height: 22px;
	color: #666666;
	margin-top: 15px;
}

.movie-actors {
	width: 256px;
	height: 22px;
	margin-top: 22px;
	font-family: Open Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	line-height: 22px;
	color: #666666;
	margin-top: 15px;
}

.movie-description {
	width: 164px;
	height: 37px;
	margin-left: 557px;
	margin-top: 165px;

	font-family: Open Sans;
	font-style: normal;
	font-weight: bold;
	font-size: 24px;
	line-height: 33px;

	color: #333333;
}
.movie-description-data {
	display: flex;
	flex-direction: row;
	margin-left: 557px;
	margin-top: 15px;
	width: 577px;
	font-family: Open Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 18px;
	line-height: 28px;


	color: #000000;
}